* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to top left, #1b1f3b, #2d3e5b) !important;
  height: 100vh;
}

.todolist {
  width: 500px;
  height: auto;

  margin-top: 70px;
  background: #f8f9fb;
  border-radius: 20px;
}

.head {
  height: 28%;
}

.head h2 {
  font-size: 40px;
  color: #1b2b4f;
}

.butt button {
  margin: 0 29px;
  border-width: 1px;
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: white;
}

.but1 {
  width: 60px;
  border-radius: 5px;
  background: #ff6f61;
}
.but2 {
  width: 37px;
  border-radius: 5px;
  background: #6a5acd;
}
.but3 {
  width: 32px;
  border-radius: 5px;
  background: #00bfa5;
}

.but1:hover {
  background-color: #ff574d;
}
.but2:hover {
  background-color: #5947b3;
}
.but3:hover {
  background-color: #00a48c;
}

.task {
  height: 57%;
}

.todo-body {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  margin: 15px 15px 0px 5px;
  width: 98%;
}

.todo-body:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.todo-boody {
  display: flex;
  justify-content: space-between;
  background: #d94c4c;
  margin: 15px 15px 0px 5px;
  width: 98%;
}

.body-left h4 {
  margin: 5px 5px 0 0;
  font-size: 30px;
  color: #2d3e50;
}

.body-left p {
  margin-bottom: 3px !important;
  margin-right: 8px;
  color: #555;
}

.body-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.buti1 {
  background: #00bfa5;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
.buti1:hover {
  background: #00a48c;
}

.buti2 {
  background: #ff6f61;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
.buti2:hover {
  background: #ff574d;
}

.buti3 {
  background: #6a5acd;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
.buti3:hover {
  background: #5947b3;
}

.buti4 {
  background: #f39c12;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
.buti4:hover {
  background: #e67e22;
}

.tail {
  display: flex;
  margin-top: 10px;
  width: 100%;
  gap: 10px;
}

.input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 6px;
  border: 1px solid #34495e;
  padding-right: 10px;
}

.button {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  margin: 0 5px 5px 12px;
  border: 1px solid black;
  background-color: #00bfa5;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.button:hover {
  background-color: #00a48c;
}
@media (min-width: 450px) and (max-width: 560px) {
  .todolist {
    width: 380px;
  }
}
@media (min-width: 200px) and (max-width: 449px) {
  .todolist {
    width: 340px;
  }
}
